/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
p:first-child{
	color:white;
	background-color:black;
}
p:last-child{
	color:red;
}
p:nth-child{
	color:#000
}
.w{
	width:50%;
	background-color:white;
	padding:10px;
	font-size:22px;
}
.x{
	width:50%;
	background-color:grey;
	padding:10px;
}
.y{
	width:50%;
	background-color:pink;
	padding:10px;
}
.z{
	width:50%;
	background-color:grey;
	padding:10px;
}
.s{
	width:50%;
	background-color:white;
	padding:10px;
	font-size:22px;	
}
